.content-wrapper {
    border: 2px solid #00bcff;
    padding: 24px;
    min-height: 90vh;
}

.gap-vertical-lg > div:not(:last-child) {
    margin-bottom: 7em;
}

.gap-vertical-md > div:not(:last-child) {
    margin-bottom: 4em;
}
